.pre-commit-config.yaml filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
ami/scripts/bootstrap/bootstrap_ansible.sh filter=lfs diff=lfs merge=lfs -text
ami/scripts/bootstrap/bootstrap_python.sh filter=lfs diff=lfs merge=lfs -text
ami/scripts/ci/check_dead_code.py filter=lfs diff=lfs merge=lfs -text
ami/scripts/ci/check_dependency_versions.py filter=lfs diff=lfs merge=lfs -text
ami/scripts/setup/common.sh filter=lfs diff=lfs merge=lfs -text
ami/scripts/setup/node.sh filter=lfs diff=lfs merge=lfs -text
ami/scripts/shell/shell-setup filter=lfs diff=lfs merge=lfs -text
ami/scripts/utils/git-guard filter=lfs diff=lfs merge=lfs -text
pyproject.toml filter=lfs diff=lfs merge=lfs -text
ami/scripts/utils/git-status-all filter=lfs diff=lfs merge=lfs -text
ansible/ansible.cfg filter=lfs diff=lfs merge=lfs -text
ansible/inventory/host_vars/localhost.yml filter=lfs diff=lfs merge=lfs -text
ansible/inventory/localhost.yml filter=lfs diff=lfs merge=lfs -text
res/ansible/compose.yml filter=lfs diff=lfs merge=lfs -text
res/ansible/templates/ami-compose.service.j2 filter=lfs diff=lfs merge=lfs -text
ami-agent filter=lfs diff=lfs merge=lfs -text
ami/scripts/bin/ami-repo filter=lfs diff=lfs merge=lfs -text
ami/scripts/bin/ami-run filter=lfs diff=lfs merge=lfs -text
ami/scripts/register_extensions.py filter=lfs diff=lfs merge=lfs -text
tests/unit/ci/test_check_dead_code.py filter=lfs diff=lfs merge=lfs -text
config/banned_words_exceptions.yaml filter=lfs diff=lfs merge=lfs -text
